@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

.suspenseImage{
  position: relative;
  width: 250;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -25%);
  animation: rotate 2s infinite;
  border-radius: 50%;
}

.swalImage {
  animation: rotate 2s infinite;
  border-radius: 50%;
}

@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.register, .login, #checkout, .error, #landing {
  background: #ffc800;
  height: 100vh;
}

#products, #addProduct, .productBannerRow, #profile, .resetPassword, #bread {
  background-color: #ffc800;
}

.bannerImage, .registerCard, .loginCard {
  animation: fromBottom 1s linear 1;
}

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  75% {
    opacity: 1;
    transform: translateY(-3%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.bannerImage {
  width: auto;
  height: 700px;
}


.bannerTitle {
  animation: fromLeft 1.5s linear 1;
}

.bannerSubtitle {
  animation: fromRight 1.5s linear 1;
}

@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  80% {
    opacity: 1;
    transform: translateX(1%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translateX(30%);
  }
  80% {
    opacity: 1;
    transform: translateX(-1%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.carousel {
  width:350px;
  height: auto;
  margin: auto;
  z-index: 1;
}

@media (max-width: 900px) {
  .carousel {
    width:auto;
    height:auto;
  }

}

.productBanner {
  width: 500px;
  height: 200px;
  margin: auto;
}

.swalImageError {
  animation: shake 2500ms infinite;
  border-radius: 50%;
}

@keyframes shake {
  0% {
    transform: translateX(5%);
    /* transform: translateY(20%); */
  }
  20% {
    transform: translateX(-5%);
  }
  40% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(-5%);
    /* transform: translateY(-20%); */
  }
  60% {
    transform: translateX(5%);
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
    /* transform: translateY(0); */
  }
}

.productAdminImage {
  transition: 1s;
}

.productAdminImage:hover {
  transform: scale(5);
}

.productViewImage {
  transition: 1s;
}

.productViewImage:hover {
  transform: scale(2);
}